{% define config = {
    name: 'invoice'
} %}

{% define data = {
    form: data.form
} %}

{% block body %}
    <div id="payolutionInvoice">
        <div>
            <label>
                {{ 'payolutionInvoice.date_of_birth' | trans }}*
                {{ form_widget(data.form.date_of_birth, { 'attr': {'placeholder': 'payolutionInvoice.date_of_birth' | trans } }) }}
            </label>
            {{ form_errors(data.form.date_of_birth) }}
        </div>
    </div>
{% endblock %}
